* {
  font-family: 'DotGothic16', sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "logo1 player-name logo2"
    "story-display story-display story-display"
    "choices choices choices"
    "bottom-btns bottom-btns bottom-btns";
  grid-template-rows: 1fr 3fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  min-height: 100vh;
  text-align: center;
  align-items: center;
  background-color: black;
  color: white;
}

#logo1 {
  grid-area: logo1;
  height: 125px;
  margin: 0 auto;
}

#logo2 {
  grid-area: logo2;
  height: 125px;
  margin: 0 auto;
}

#player-name {
  grid-area: player-name;
  font-size: 24px;
}

#story-content {
  font-size: 50px;
}

#story-display {
  grid-area: story-display;
  font-size: 25px;
  font-weight: normal;
}

#options {
  grid-area: choices;
}

#bottom-btns {
  grid-area: bottom-btns;
  text-align: center;
  justify-content: center;
}

#chosen-name {
  border: 3px solid white;
  background-color: black;
  color: white;
}

button {
  border: 3px solid white;
  background-color: black;
  color: white;
  cursor: pointer;
}

#start{
  height: 50px;
  width: 100px;
  border: 4px solid white;
}

#confirm-btn {
  height: 50px;
  width: 100px;
  border: 4px solid white;
}

#reset-btn {
  height: 50px;
  width: 100px;
  border: 4px solid white;
}

label {
  margin: 30px 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  border: 5px dashed white;
  border-radius: 25px;;
}

span {
  margin: 10px 0;
}