* {
  font-family: 'DotGothic16', sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "logo1 player-name logo2"
    "story-display story-display story-display"
    "choices choices choices"
    "bottom-btns bottom-btns bottom-btns";
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  min-height: 100vh;
  text-align: center;
  align-items: center;
  background-color: black;
  color: white;
}

#logo1 {
  grid-area: logo1;
  height: 125px;
  margin: 0 auto;
}

#logo2 {
  grid-area: logo2;
  height: 125px;
  margin: 0 auto;
}

#player-name {
  grid-area: player-name;
  font-size: 30px;
}

#story-content {
  font-size: 50px;
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

#story-display:before,
#story-display:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

#story-display:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

#story-display:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

#story-display {
  grid-area: story-display;
  font-size: 25px;
  font-weight: normal;
}

#options {
  grid-area: choices;
}

#bottom-btns {
  grid-area: bottom-btns;
  text-align: center;
  display: inline-block;
}

#chosen-name {
  border: 3px solid white;
  background-color: black;
  color: white;
}

button {
  border: 3px solid white;
  background-color: black;
  color: white;
  cursor: pointer;
}

#start{
  height: 50px;
  width: 100px;
  border: 4px solid white;
}

#confirm-btn {
  height: 50px;
  width: 100px;
  border: 4px solid white;
}

#reset-btn {
  height: 50px;
  width: 100px;
  border: 4px solid white;
}

label {
  margin: 30px 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  border: 5px dashed white;
  border-radius: 25px;;
}

span {
  margin: 10px 0;
}