* {
  font-family: 'DotGothic16', sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "logo1 player-name logo2"
    "story-display story-display story-display"
    "choices choices choices"
    "bottom-btns bottom-btns bottom-btns";
  grid-template-rows: 1fr 3fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  min-height: 100vh;
  text-align: center;
  align-items: center;
  background-color: black;
  color: white;
}

#logo1 {
  grid-area: logo1;
  height: 150px;
  margin: 0 auto;
}

#logo2 {
  grid-area: logo2;
  height: 150px;
  margin: 0 auto;
}

#player-name {
  grid-area: player-name;
  font-size: 24px;
}

#story-display {
  grid-area: story-display;
  font-size: 32px;
}

#options {
  grid-area: choices;
}

#bottom-btns {
  grid-area: bottom-btns;
}

#start{
  height: 50px;
  width: 100px;
  border: 4px solid white;
  background-color: black;
  color: white;
  cursor: pointer;
}

label {
  border: 3px solid white;
  
}